.welcome-username {
    font-weight: bold;
    color: #007bff;
}

.welcome-word {
    font-style: italic;
}

.show-number {
    height: 30px;
    margin-top: 4px;
    margin-bottom: 0;
    overflow: hidden;
    font-size: 30px;
    line-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}

.canvas-display {
    display: flex;
    justify-content: center;
}